HandiGab_porteur/bin/
HandiGab_porteur/gen/
Handigab_gab/bin/
Handigab_gab/gen/
.metadata/
HandiGab_porteur/bin/AndroidManifest.xml

HandiGab_porteur/.settings/org.eclipse.jdt.core.prefs

Handigab_gab/bin/AndroidManifest.xml
